<main class="login-container">
  <div class="management-view">
    <h1><%= title %></h1>
    <% if (locals.message) { %>
      <p class="message"><%= locals.message %></p>
    <% } %>
    <% if (locals.errors) { %>
      <ul class="errors">
        <% locals.errors.forEach(error => { %>
          <li><%= error.msg %></li>
        <% }) %>
      </ul>
    <% } %>
    <h2>Welcome <%= locals.accountData.account_firstname %></h2>
    <p><a href="/account/update/<%= locals.accountData.account_id %>">Update Account Information</a></p>
    <% if (locals.accountData.account_type === 'Employee' || locals.accountData.account_type === 'Admin') { %>
      <h3>Inventory Management</h3>
      <p><a href="/inv/management">Manage Inventory</a></p>
    <% } %>
  </div>
    
</main>