<main>
    <h1><%= title %></h1>
    <% if (locals.message) { %>
      <p class="message"><%= locals.message %></p>
    <% } %>
    <% if (locals.errors) { %>
      <ul class="errors">
        <% locals.errors.forEach(error => { %>
          <li><%= error.msg %></li>
        <% }) %>
      </ul>
    <% } %>

    <form action="/account/update/<%= locals.accountData.account_id %>" method="POST" id="accountUpdateForm">
      <fieldset>
        <legend>Account Update</legend>
        <label for="account_firstname">First Name:</label>
        <input type="text" id="account_firstname" name="account_firstname" value="<%= locals.accountData ? locals.accountData.account_firstname : '' %>" required>
        
        <label for="account_lastname">Last Name:</label>
        <input type="text" id="account_lastname" name="account_lastname" value="<%= locals.accountData ? locals.accountData.account_lastname : '' %>" required>
        
        <label for="account_email">Email:</label>
        <input type="email" id="account_email" name="account_email" value="<%= locals.accountData ? locals.accountData.account_email : '' %>" required>
        
        <input type="hidden" name="account_id" value="<%= locals.accountData ? locals.accountData.account_id : '' %>">
        <input type="submit" value="Update Account">
      </fieldset>
    </form>

    <form action="/account/update-password/<%= locals.accountData.account_id %>" method="POST" id="passwordChangeForm">
      <fieldset>
        <legend>Change Password</legend>
        <p>Password must be at least 12 characters long and include a number, an uppercase letter, a lowercase letter, and a special character (!@#$%^&*).</p>
        <label for="account_password">New Password:</label>
        <input type="password" id="account_password" name="account_password" required>
        <input type="hidden" name="account_id" value="<%= locals.accountData ? locals.accountData.account_id : '' %>">
        <input type="submit" value="Change Password">
      </fieldset>
    </form>
</main>